.content {
    max-width: 1000px;
    margin: 0 auto;
}

.market-info {
    position: relative;
}

.market-info .results {
    max-width: 500px;
    margin: 0 auto;
}

#buckets {
    display: flex;
    justify-content: center;
}